.detalleMovie{

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.col{
    max-width: 500px;
    height: auto;
    height: 80%;
    margin: 10px;
}
.imagen{
    border-radius: 15px;
}
.texto{
    font-size: 1.2rem;
}